<!--
  BOX PLOT
  Configs:
    - height: height of chart (default: 300)
    - csv: absolute CSV path
    - xlabel: label for the x-axis
    - ylabel: label for the y-axis
    - title: label for the entire chart
    - xcol: name of the x-column in the csv
    - fivenum: name of the min,q1,med,q3,max columns ordered and comma seperated
    - linelabels: comma seperated label for each line
    - linecolors: comma seperated colors for each line
 -->

<div class = "box-plot" data-csv = "{{include.csv}}" data-height = "{{include.height}}" data-xlabel = "{{include.xlabel}}" data-ylabel = "{{include.ylabel}}" data-title = "{{include.title}}" data-xcol = "{{include.xcol}}" data-ycols = "" data-fivenum = "{{include.fivenum}}" data-linelabels = "{{include.linelabels}}" data-linecolors = "{{include.linecolors}}" >

</div>
