footer{
  background: $gray;
  padding: 40px 40px 20px;

  .level{
    margin: 0 !important;
  }
  .links{
    a{
      margin-left: 10px;
    }
  }
  .social{
    a{
      margin-left: 5px;
    }
  }
}

@media screen and (max-width: 768px){
  footer{
    #links{
      margin-top: 0 !important;
    }
    #description{
      margin-top: 0 !important;
      text-align: center;
    }
    #social{
      margin-top: 10px !important;
    }
  }
}
