// ** Fonts **

@font-face { //Headings
  font-family: "OpenSans";
  font-weight: bold;
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}

@font-face { //Sans Captions & non-body text elements
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face{ //Body text
  font-family: "CrimsonText";
  src: url("../assets/fonts/crimsontext/CrimsonText-Regular.ttf");
}

@font-face{ //Body text (BOLD)
  font-family: "CrimsonText";
  font-weight: bold;
  src: url("../assets/fonts/crimsontext/CrimsonText-Bold.ttf");
}

@font-face{ //Body text (ITALIC)
  font-family: "CrimsonText";
  font-style: italic;
  src: url("../assets/fonts/crimsontext/CrimsonText-Italic.ttf");
}

// ** Palette **
$gray: #f2f2f2;

// ** Text Styling **

h1, h2, h3, h4, h5, h6{
  font-family: "OpenSans";
  font-weight: bold;
}

p, li, span{
  font-family: "CrimsonText";
}

a, .sans{
  font-family: "OpenSans";
}
