---
---

@import "theme";
@import "footer";
@import "nav";
@import "components/subscribe";

body{
  padding-top: 40px;
}

header{
  h1{
    font-family: "Georgia";
  }
  .links{
    margin-top: 10px;
  }
  a.heading{
    display: inline;
    margin-right: 10px;
    white-space: nowrap;
  }
}

#post{
  img{
    width: 100%;
  }
  a{
    color: black;
    &:hover{
      color: $purple;
    }
  }
}

#posts{
  padding-left: 0;
  padding-top: 5px;

  h1{
    line-height: 1em;
    margin-bottom: 5px;
  }

  h1 a{
    color: black;
    &:hover{
      color: $purple;
    }
    margin: 0;
  }

  img{
    width: 200px;
  }

  .meta{
    font-family: "OpenSans";
    a{
      font-family: inherit;
    }
  }
}

.container{
  width: 70%;
  margin: 0 auto;
}

footer{
  margin-top: 50px;
}

@media screen and (max-width: 1020px){
  .container{
    width: 80%;
  }
}

@media screen and (max-width: 890px){
  .container{
    width: 90%;
  }
}

@media screen and (max-width: 768px){
  #posts{
    img{
      width: 100%;
    }
  }
}
