---
---

@import "theme";
@import "footer";
@import "nav";

#wrapper{
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 70%;
  margin: 0 auto;
  position: relative;

  nav{
    position: relative;
    padding: 0;
  }

  h1.has-text-centered{
    margin-bottom: 10px;
  }

  h1{
    font-size: 1.5rem;
  }

  p, ul{
    margin-bottom: 1rem;
  }

  ul{
    list-style-type: disc;
  }

  .half{
    width: 250px;
    margin-right: 20px;
    float: left;
  }

  .subtitle{
    font-family: "OpenSans";
    font-size: 1.5rem;
  }
}

#content{
  position: relative;
  p{
    overflow: hidden;
  }
}


@media screen and (max-width: 950px){
  #wrapper .half{
    width: 200px;
  }
}

@media screen and (max-width: 750px){
  #wrapper .half{
    width: 150px;
  }
}

@media screen and (max-width: 600px){
  #wrapper .half{
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
}
