---
---

@import "theme";
@import "footer";
@import "nav";
@import "components/subscribe";
@import "components/line_chart";

header{
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;

  .text{
    top: 50%;
    transform: translateY(-50%);
    position: relative;

    h1{
      margin-bottom: 8px;
      line-height: 1em;
    }
  }
}

.content{
  p, ul{
    margin-bottom: 1rem;
  }
}
