---
---

@import "theme";
@import "footer";
@import "components/subscribe";
@import "components/line_chart";
@import "components/headers";

.date{
  color: $blue;
  font-family: "OpenSans";
  font-size: 0.9rem;
  margin-top: -4px;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.content{
  font-size: 18px;

  p, ul{
    margin-bottom: 1em;
    line-height: 1.7em;
  }

  h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px){
  .container{
    width: 70%;
  }

  header.centered, .offset{
    width: 75%;
  }
}

@media screen and (max-width: 800px){
  .container{
    width: 80%;
  }

  header.centered, .offset{
    width: 85%;
  }
}

@media screen and (max-width: 600px){
  .container{
    width: 95%;
  }

  header.centered, .offset{
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .titles, .caption{
      padding: 0 10px;
    }
  }

}
