.map{
  position: relative;
  width: 100%;

  .tooltip{
    font-size: 11px;

    h1{
      margin-bottom: 0;
    }

    td, th{
      padding: 1px 0;

      &:first-of-type{
        padding-right: 20px;
      }
    }
  }

  .labels{
    margin-bottom: 10px;
    font-size: 16px;

    label, span{
      font-family: "IBMPlexSans";
    }

    .level-item{
      margin-right: 30px;
    }

    .heading{
      display: block;
      margin-bottom: -2px;
      font-size: 14px;
    }

    input[type = "radio"]{
      margin-right: 10px;
    }
  }

  .svg{
    position: relative;
  }
}
