.pie-chart-normalized{
  .normalize-header{
    text-align: center;
    margin-bottom: 10px;

    .level-left{
      width: 100%;

      .level-item{
        width: 100% !important;
      }
    }
  }
}

.pie-chart{
  .column{
    padding: 1rem;
    text-align: center;
  }

  .pie-label{
    text-align: left;
    span{
      font-family: "IBMPlexSans";
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px){
  .pie-chart .pie-label{
    text-align: center;
  }
}
