.pie-chart{
  .column{
    padding: 1rem;
    text-align: center;
  }

  .pie-label{
    text-align: left;
    span{
      font-family: "IBMPlexSans";
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px){
  .pie-chart .pie-label{
    text-align: center;
  }
}
