#scrolling-vis{
  position: relative;

  #sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 0px;
    z-index: 90;
  }

  section.step {
    margin-bottom: 200px;
  }

  #vis {
    display: inline-block;
    position: fixed;
    top: 60px;
    z-index: 1;
    margin-left: 0;

    height: 600px;
    width: 600px;
    background-color: #ddd;
  }
}
