#scrolling-vis{
  position: relative;

  .column{
    padding: 0.75rem;
  }

  #sections {
    display: inline-block;
    width: 350px;
    z-index: 90;
  }

  section.step {
    margin-bottom: 200px;

    &:first-of-type{
      margin-top: 200px;
    }

    &:last-of-type{
      margin-bottom: 100px;
    }
  }

  #population{
    font-family: "IBMPlexSans";
    font-size: 18px;
  }

  #vis {
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    z-index: 1;
    margin-left: 0;
    height: 500px;

    img{
      width: calc(100% - 10px);
      max-height: 500px;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    #graph{
      position: absolute;
      top: 0;
    }

    #map{
      width: 100%;
      height: 100%;

      path, .leaflet-marker-pane img, .label{
        transition: 0.5s all;
      }

      .leaflet-marker-pane img{
        pointer-events: none;
      }

      .label{
        font-family: "IBMPlexSans";
        font-size: 14px;
        font-weight: normal;
        border: none;
      }
    }
  }
}

@media screen and (max-width: 1000px){
  #scrolling-vis #sections {
    width: 250px;
  }
}

@media screen and (max-width: 768px){
  .widest{
    // overflow-x: hidden;
    #scrolling-vis {
      #sections{
        width: 100%;
      }
    }
  }

  #scrolling-vis {
    #vis {
      display: block;
    }

    #sections{
      width: 90%;
      margin: -300px auto;
      display: block;
      top: 0;
      position: relative;

      section{
        background: white;
        padding: 10px 20px;
        visibility: hidden;
        border-radius: 5px
      }

      section.active{
        visibility: visible;
        box-shadow: 0 0 10px #888888;
      }
    }

    margin-bottom: 300px;
  }
}
