<footer>
  <div class = "level">
    <div class = "level-left">
      <h1 class = "level-item is-size-5">Jeffrey Shen</h1>
    </div>
    <div class = "level-right has-text-right" id = "links">
      <div class = "links level-item">
        <a href = "/about">ABOUT</a>
        <a href = "http://notes.jeffreyshen.com">NOTES</a>
        <a href = "/privacy">PRIVACY</a>
        <a href = "http://jeffreyshen.com">CONTACT</a>
      </div>
    </div>
  </div>
  <div class = "level">
    <div class = "level-left" id = "description">
      <p class = "level-item">{{site.description}}</p>
    </div>
    <div class = "level-right has-text-right" id = "social">
      <div class = "social level-item">
        <a href = "/feed.xml" ><i class = "fas fa-rss"></i></a>
        <a href = "https://twitter.com/{{site.twitter_username}}" target = "_blank"><i class = "fab fa-github"></i></a>
        <a href = "https://github.com/{{site.github_username}}" target = "_blank"><i class = "fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <br>
  <div class = "bottom has-text-centered">
    <p class = "sans">made in los angeles & andover</p>
  </div>
</footer>
