<footer>
  <div class = "columns">
    <div class = "column">
      <h1>Jeffrey Shen</h1>
      <p>{{site.description}}</p>
    </div>
    <div class = "column">
      <div class = "links">
        <a href = "/about">ABOUT</a>
        <a href = "/privacy">PRIVACY POLICY</a>
        <a href = "https://jeffreyshen.com">CONTACT</a>
      </div>
      <div class = "social">
        <a href = "https://twitter.com/{{site.twitter_username}}" target = "_blank"><i class = "fab fa-github"></i></a>
        <a href = "https://github.com/{{site.github_username}}" target = "_blank"><i class = "fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class = "bottom has-text-centered">
    <p class = "sans">made in los angeles & andover</p>
  </div>
</footer>
