---
---

@import "theme";
@import "components/subscribe";
@import "components/line_chart";
@import "components/bar_chart";
@import "components/box_plot";
@import "components/connection-graph";
@import "components/image";
@import "components/headers";

.date{
  color: $purple;
  font-family: "IBMPlexSans";
  font-size: 0.9rem;
  margin-top: -4px;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.content{
  font-size: 18px;

  p, ul{
    margin-bottom: 1em;
    line-height: 1.7em;
  }

  h1{
    font-size: 1.5rem;
  }
}

#related-posts{
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 40px;

  h1{
    line-height: 1em;
    margin-bottom: 5px;
  }

  h1 a{
    color: black;
    &:hover{
      color: $purple;
    }
    margin: 0;
  }

  img{
    width: 200px;
  }

  .meta{
    font-family: "IBMPlexSans";
    a{
      font-family: inherit;
    }
  }
}

// Elements that produce slightly from text
.offset{
  width: 65vw !important;
  margin-left: calc(-2.5vw - 20px) !important;
}

@media screen and (max-width: 1000px){
  .container{
    width: 70%;
  }

  header.centered{
    width: 75%;
  }

  .offset{
    width: 75vw !important;
  }
}

@media screen and (max-width: 800px){
  .container{
    width: 80%;
  }

  header.centered{
    width: 85%;
  }

  .offset{
    width: 85vw !important;
  }
}

@media screen and (max-width: 600px){
  .container{
    width: 95%;
  }

  header.centered{
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .titles, .caption{
      padding: 0 10px;
    }
  }

  .offset{
    width: 100vw !important;
  }
}
