.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.axis{
  font-family: "OpenSans";
  font-size: 12px;
}

.axis-label{
  font-family: "CrimsonText";
  font-size: 16px;
  text-anchor: middle;
}

.title{
  font-size: 20px;
  font-weight: bold;
}
