.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.axis{
  font-family: "OpenSans";
  font-size: 12px;
}

.axis-label{
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 18px;
  text-anchor: middle;
}
