.line {
  fill: none;
  stroke-width: 2px;
}

.axis{
  font-family: "OpenSans";
  font-size: 12px;
}

.axis-label{
  font-family: "CrimsonText";
  font-size: 16px;
  text-anchor: middle;
}

.title{
  font-size: 20px;
  font-weight: bold;
}

.legend span{
  font-size: 14px;
  font-family: "OpenSans";
}

.legend-label{
  margin-right: 15px;
  display: inline-block;
}

.bubble{
  width: 14px;
  height: 14px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.tooltip{
  position: absolute;
  white-space: nowrap;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  background: #EEEEEE;
}

.hidden{
  display: none;
}
