<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <title>Jeffrey Shen • {{site.description}}</title>
    <link type = "text/css" rel = "stylesheet" href = "/assets/SCSS/main.css">
  </head>
  <body>

    <div class = "container">
      <!-- Header -->
      <header class = "has-text-centered">
        <h1 class = "is-size-2">{{site.title}}</h1>
        <p class = "is-size-4">Exploring politics, culture, and society with computer science</p>
        <div class = "links">
          <a href = "http://jeffreyshen.com" class = "heading is-size-6">ABOUT</a>
          <a href = "/#politics" class = "heading is-size-6">POLITICS</a>
          <a href = "/#culture" class = "heading is-size-6">CULTURE</a>
          <a href = "/#society" class = "heading is-size-6">SOCIETY</a>
          <!-- <a href = "/#social" class = "heading is-size-6">SOCIAL ISSUES</a> -->
        </div>
        <br>
        <br>
      </header>

      <!-- Featured Content -->
      <div id = "post">
        {%- assign posts = site.posts | where: "featured", "true" -%}
        {%- assign featured_post = posts[0] -%}
        <a href = "{{ featured_post.url | relative_url }}"><img src = "/assets/graphics/posts/{{ featured_post.image }}"/></a>
        <h1 class = "is-size-3">
          <a href="{{ featured_post.url | relative_url }}">
            {{ featured_post.title | escape }}
          </a>
        </h1>
        <p class = "is-size-5">{{ featured_post.subtitle }}</p>
      </div>
      <br>
      <br>

      <!-- Subscribe Banner  -->
      {% include subscribe.html %}
      <br>
      <br>

      <!-- Post Feed -->
      <h1 class = "is-size-5">POLITICS</h1>
      <div class = "posts" id = "politics">
        {%- for post in site.posts-%}
          {% if post.categories contains "Politics" %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <div class = "columns">
              <div class = "column is-narrow">
                <a href = "{{post.url | relative_url}}"><img src = "/assets/graphics/posts/{{ post.image }}"/></a>
              </div>
              <div class = "column">
                <h1 class = "is-size-4">
                  <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h1>
                <p class = "is-size-5">{{ post.subtitle }}</p>
                <p class = "meta is-size-6 heading" style = "margin-top:10px;"><a href = "/{{post.categories[0] | downcase}}">{{post.categories}}</a> • {{ post.date | date: date_format }}</p>
              </div>
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
      <br>
      <h1 class = "is-size-5">SOCIETY</h1>
      <div class = "posts" id = "society">
        {%- for post in site.posts-%}
          {% if post.categories contains "Society" %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <div class = "columns">
              <div class = "column is-narrow">
                <a href = "{{post.url | relative_url}}"><img src = "/assets/graphics/posts/{{ post.image }}"/></a>
              </div>
              <div class = "column">
                <h1 class = "is-size-4">
                  <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h1>
                <p class = "is-size-5">{{ post.subtitle }}</p>
                <p class = "meta is-size-6 heading" style = "margin-top:10px;"><a href = "/{{post.categories[0] | downcase}}">{{post.categories}}</a> • {{ post.date | date: date_format }}</p>
              </div>
            </div>
          {% endif %}
        {%- endfor -%}
      </div>
      <br>
      <h1 class = "is-size-5">CULTURE</h1>
      <div class = "posts" id = "culture">
        {%- for post in site.posts-%}
          {% if post.categories contains "Culture" %}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <div class = "columns">
              <div class = "column is-narrow">
                <a href = "{{post.url | relative_url}}"><img src = "/assets/graphics/posts/{{ post.image }}"/></a>
              </div>
              <div class = "column">
                <h1 class = "is-size-4">
                  <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h1>
                <p class = "is-size-5">{{ post.subtitle }}</p>
                <p class = "meta is-size-6 heading" style = "margin-top:10px;"><a href = "/{{post.categories[0] | downcase}}">{{post.categories}}</a> • {{ post.date | date: date_format }}</p>
              </div>
            </div>
          {% endif %}
        {%- endfor -%}
      </div>

    </div>

    <!-- Footer -->
    {%- include footer.html -%}

  </body>
</html>
