<!doctype html>
<html>
<head>
  {% include head.html %}
  <title>{{ page.title }} • Jeffrey Shen </title>
  <link type = "text/css" rel = "stylesheet" href = "/src/SCSS/post.css">
</head>
<body>

  <!-- Import for FB & Twitter-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>

  <!-- Header -->
  {% include headers/{{page.header}}.html %}

  <div class = "container" id = "body">

    <!-- Attribution -->
    <p><strong>Jeffrey Shen</strong></p>
    <p class = "date heading">{{ page.date | date: "%b %-d, %Y" }}</p>
    <hr>

    <!-- Content -->
    <div class = "content">{{ content }}</div>
    <hr>

    <!-- Sources -->
    <h1>Further Reading</h1>
    <ol>
      {% if page.source_code %}
        <li><a href = "{{ page.source_code }}" target = "_blank">Source Code</a></li>
      {% endif %}
      {% for post in page.references %}
        <li><a href = "{{ post.url }}" target = "_blank">{{ post.title }}</a></li>
      {% endfor %}
    </ol>
    <br>

    <!-- Subscribe Banner  -->
    {% include subscribe.html %}
    <br>

    <!-- Social & Related Content -->
    <div class = "level is-mobile">
      <div class = "level-left">
        <div class="fb-like level-item" data-href="{{page.url}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
        <div class = "level-item"><a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text={{page.title}}"
          data-size="large">
        Tweet</a></div>
      </div>
    </div>

    <h1>Related Posts</h1>
    <div id = "related-posts" class = "posts columns is-4">
      {%- for post in site.related_posts limit: 3 -%}
        {% include post-thumb.html class = "column is-4" post = post small = true %}
      {%- endfor -%}
    </div>

    <br>

    {% include footer.html %}

  </div>

  <!-- Import JS -->
  {% if page.javascript %}
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    {%- for js in page.javascript -%}
      <script src = "/src/JS/{{js}}" type = "text/babel"></script>
    {%- endfor -%}
  {% endif %}
</body>
</html>
