<!doctype html>
<html>
<head>
  <meta charset = "utf-8">
  <meta name = "Description" content = "{{site.description}}">
  <meta name = "author" content = "Jeffrey Shen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} • Jeffrey Shen </title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link type = "text/css" rel = "stylesheet" href = "/scss/bulma.min.css">
  <link type = "text/css" rel = "stylesheet" href = "/scss/post.css">
</head>
<body>

  <!-- Import for FB & Twitter-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>

  <!-- Header -->
  <header style = "background-image:url('/assets/graphics/posts/{{ page.featured_image }}')">
    <nav>
      <h1>Jeffrey Shen // Blog</h1>
    </nav>

    <div class = "has-text-centered">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.subtitle }}</h2>
    </div>
  </header>

  <div class = "container">

    <!-- Attribution -->
    <p>Jeffrey Shen</p>
    <p>{{ page.date | date: "%b %-d, %Y" }}</p>
    <hr>

    <!-- Content -->
    {{ content }}
    <hr>

    <!-- Sources -->
    <h1>Further Reading</h1>
    <ol>
      <li><a href = "{{ page.source_code }}" target = "_blank">Source Code</a></li>
      {% for post in page.references %}
        <li><a href = "{{ post.url }}" target = "_blank">{{ post.title }}</a></li>
      {% endfor %}
    </ol>
    <hr>

    <!-- Social & Related Content -->
    <div class="fb-like" data-href="{{page.url}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text={{page.title}}"
      data-size="large">
    Tweet</a>


    <!-- Mailchimp Signup Form  -->
    <div id="mc_embed_signup">
      <form action="https://jeffreyshen.us7.list-manage.com/subscribe/post?u=a4aa043c23423342050e28668&amp;id=2de6eeb975" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <h2>Never miss a post.</h2>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email</label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a4aa043c23423342050e28668_2de6eeb975" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="JOIN!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>

  </div>

  <!-- Footer -->
  {% include footer.html %}

  <!-- Import JS -->
  <script src = "/js/post.js"></script>
</body>
</html>
