---
---

@import "theme";
@import "nav";
@import "post-thumb";
@import "components/subscribe";

body{
  padding-top: 40px;
}

header{
  h1{
    font-family: "Georgia";
  }
  .links{
    margin-top: 10px;
  }
  a.heading{
    display: inline;
    margin-right: 10px;
    white-space: nowrap;
  }
}


.featured{
  .contents{
    border: none;
  }

  .text{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #c8c8c8;
    border-top: none;
  }
}

.container{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 60px;
}

footer{
  margin-top: 50px;
}

@media screen and (max-width: 1020px){
  .container{
    width: 80%;
  }
}

@media screen and (max-width: 890px){
  .container{
    width: 90%;
  }
}
