---
---

@import "theme";
@import "post-thumb";
@import "components/subscribe";
@import "components/line_chart";
@import "components/normalize";
@import "components/map";
@import "components/pie";
@import "components/bar_chart";
@import "components/box_plot";
@import "components/image";
@import "components/scrollytelling";
@import "components/headers";

.date{
  color: $purple;
  font-family: "IBMPlexSans";
  font-size: 0.9rem;
  margin-top: -4px;
}

.container{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.content{
  font-size: 18px;

  p, ul{
    margin-bottom: 1em;
    line-height: 1.7em;
  }

  h1{
    font-size: 1.5rem;
  }
}

#related-posts{
  padding-top: 8px;
}

twitter-widget{
  margin: 30px auto !important;
}

// Elements that produce slightly from text
.offset{
  width: 65vw !important;
  margin-left: calc(-2.5vw - 20px) !important;
}

@media screen and (max-width: 1000px){
  .container{
    width: 70%;
  }

  header.centered{
    width: 75%;
  }

  .offset{
    width: 75vw !important;
  }
}

@media screen and (max-width: 800px){
  .container{
    width: 80%;
  }

  header.centered{
    width: 85%;
  }

  .offset{
    width: 85vw !important;
  }
}

@media screen and (max-width: 600px){
  .container{
    width: 95%;
  }

  header.centered{
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .titles, .caption{
      padding: 0 10px;
    }
  }

  .offset{
    width: 100vw !important;
  }
}
